<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneFragments - Music Reviews</title>
    <link rel="stylesheet" href="style.css">
    <script async src="https://cse.google.com/cse.js?cx=273d455832c894697">
    </script>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="index.html"><h1>TuneFragments</h1></a>
            <div>
                <p>자유롭게 오고가는 음악 기록소.<br>여러분의 기여로 만들어집니다.</p>
                <div class="gcse-search"></div>
            </div>
            
        </div>
    </header>

    <div class="container">
        {{range .Posts}}
        <div class="content" style="margin-bottom: 1rem;">
            <a href="{{.Slug}}.html"><h2>{{.Title}}</h2></a>
            <p>By {{.Author}}</p>
        </div>
        {{end}}
    </div>
    <br />

    <footer>
            <div class="pagination">
                {{if .HasPrev}}
                <a href="{{.PrevUrl}}">Previous</a>
                {{end}}
                <span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
                {{if .HasNext}}
                <a href="{{.NextUrl}}">Next</a>
                {{end}}
            </div>
            <br />
            <a rel="me" href="https://planet.moe/@tunefragments">Mastodon</a>
            <a href="https://github.com/tunefragments/tunefrag/blob/main/CONTRIBUTION.md">기여 가이드</a>
    </footer>
</body>
</html>